/* GLOBALS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Source Serif 4', sans-serif;
}

body {
  background: #fff;
  width: 100%;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header header header header header header header header header header"
  "section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1"
  "section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2"
  "section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3"
  "section-4 section-4 section-4 section-4 section-4 section-4 section-4 section-4 section-4 section-4 section-4 section-4"
  "footer footer footer footer footer footer footer footer footer footer footer footer";
}

/* NAVBAR */

.navbar {
  grid-area: nav;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  z-index: 100000;
  width: 100%;
  height: 13vh;
}

nav.sticky {
  background: #1c1b3b;
}

.brand {
  display: flex;
  position: relative;
  transition: 0.6s;
  margin-left: 4em;
  color: #fff;
  cursor: default;
  animation-name: brand;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

.logo {
  width: 30%;
  height: 12vh;
}

.brand-text {
  display: flex;
  flex-direction: column;
  padding: 1em 0em 0em 1em;
}

@keyframes brand {
  from {
      opacity: 0%;
      transform: translateY(-50px);
  }

  to {
      opacity: 100%;
      transform: translateY(0px);
  }
}

.saint-mobile {
  display: none;
}

.valentine-mobile {
  display: none;
}

.saintValentine {
  font-family: 'Source Serif 4';
  font-size: 1.1rem;
  font-weight: 700;
}

.englishInstitute {
  font-family: 'Source Serif 4';
  font-size: 1.1rem;
  font-weight: 400;
  
}

.navbar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.7em;
  margin-right: 5em;
  animation-name: nav;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

@keyframes nav {
  from {
      opacity: 0%;
      transform: translateY(-50px);
  }

  to {
      opacity: 100%;
      transform: translateY(0px);
  }
}

.navbar li {
  position: relative;
  list-style: none;
  font-size: 1rem;
}

.navbar a {
  position: relative;
  margin: .5em;
  text-decoration: none;
  color: #acadaf;
  transition: 0.6s;
  margin: .8em;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  padding: .3em;
}

.navbar .active {
  color: #fff;
  border-bottom: solid .3em #F21137;
}

.hamburger {
  display: none;
}

.sideMenu {
  position: fixed;
  display: block;
  top: 0;
  right: 100%;
  width: 60%;
  min-height: 100vh;
  z-index: 98; 
  background-color: #1f1f1f;
  padding-top: 120px;
  transition: ease-in-out 0.4s step-end;
  transition-property: transform;
}

.sideMenu.is-active {
  right: 0;
}

.sideMenu li {
  list-style: none;
}

.sideMenu a {
  display: block;
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin: 0 auto 16px;
  padding: 12px 16px;
  color: #acadaf;
  text-decoration: none;
}

.sideMenu .active {
  color: #fff;
}

/* INDEX */

.header {
/*   background: url(mimi-thian-vdXMSiX-n6M-unsplash.jpg); */
/*   background: url(Kids_in_class.width-800.jpg); */
  background: url(studentcollaborationmed.jpeg);
  background-size: cover; 
  height: 100vh;
  grid-area: header;
}


.title-IX-1 {
  font-family: 'Source Serif 4';
  font-weight: 400;
  font-size: 3.2rem;
  padding: 6.6em 0 0 .8em;
  color: #fff;
  font-style: italic;
  animation-name: welcome-to;
  animation-iteration-count: 1;
  animation-duration: 2s;
  cursor: default;
}

@keyframes welcome-to {
  from {
      opacity: 0%;
      transform: translateX(-100px);
  }

  to {
      opacity: 100%;
      transform: translateX(0px);
  }
}

.mainTitle {
  display: flex;
  flex-direction: row;
  cursor: default;
}

.title-IX-2 {
  font-family: 'Source Serif 4';
  font-weight: 700;
  font-size: 6rem;
  padding: 0 0 0 .4em;
  color: #fff;
  animation-name: saint;
  animation-iteration-count: 1;
  animation-duration: 3.5s;
  cursor: default;
}

@keyframes saint {
  from {
      opacity: 0%;
      transform: translateX(-500px);
  }

  to {
      opacity: 100%;
      transform: translateX(0px);
  }
}

.title-IX-3 {
  font-family: 'Source Serif 4';
  font-weight: 500;
  font-size: 6rem;
  padding: 0 0 0 .2em;
  color: #fff;
  animation-name: saint;
  animation-iteration-count: 1;
  animation-duration: 3.5s;
  cursor: default;  
}

@keyframes saint {
  from {
      opacity: 0%;
      transform: translateX(-500px);
  }

  to {
      opacity: 100%;
      transform: translateX(0px);
  }
}

.btn-IX {
  margin: 1.5em 0 0 2.7em;
  width: 9.5em;
  height: 3.5em;
  border: none;
  background: #F21137;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  border-radius: .4em;
  animation-name: conoce-mas;
  animation-iteration-count: 1;
  animation-duration: 3.5s;
}

@keyframes conoce-mas {
  from {
      opacity: -100%;
      transform: translateY(500px);
  }

  to {
      opacity: 100%;
      transform: translateY(0px);
  }
}

.btn-IX:hover {
  background: #cf1839;
  transform: scale(105%);
}

.btn-IX a {
  text-decoration: none;
  color: white;
}

/* SECTION 1 (QUIENES SOMOS) */

.section-1 {
  height: 110vh;
  grid-area: section-1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(rgb(187, 187, 187), white);
}

/* CARD 1 */

.animation-1 {
  animation-name: animation-1;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

@keyframes animation-1{
  from {
      opacity: -100%;
      transform: translateX(-500px);
  }

  to {
      opacity: 100%;
      transform: translateX(0px);
  }
}

.card-1 {
  display: grid;
  grid-template-columns: 22em;
  grid-template-rows: 6em 20em 4em;
  grid-template-areas: "blue-1" "text" "stats";
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 26%;
  height: 70vh;
  margin: 9em 0em 2em 2em;
  transition: 0.5s ease;
  cursor: default;
}

.card-1:hover {
  transform: translateY(-25px);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.blue-bg-1 {
  grid-area: blue-1;
  background: #1c1b3b;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-color: #2c2b46;
  border-bottom-width: .1em;
}

.blue-bg-1 .title-QS {
  font-size: 1.4rem;
  padding: 1.5em 2em 2em 2em;
  text-transform: uppercase;
}

.card-1-text {
  grid-area: text;
  padding: 4em 2em 2em 2em;
  background: linear-gradient(#1c1b3b, #2e2c61);
  text-align: justify;
  text-justify: inter-word;
  font-weight: 600;
}

.paragraph-QS {
  line-height: 1cm;
}

.card-1-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #F21137; 
}

.card-1-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.card-1-stats .type {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-1-stats .value {
  font-size: 22px;
  font-weight: 600;
}

/* CARD 2 */

.animation-2 {
  animation-name: animation-2;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

@keyframes animation-2{
  from {
      opacity: -100%;
      transform: translateY(500px);
  }

  to {
      opacity: 100%;
      transform: translateY(0px);
  }
}

.card-2 {
  display: grid;
  grid-template-columns: 22em;
  grid-template-rows: 6em 20em 4em;
  grid-template-areas: "blue-2" "text" "stats";
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 26%;
  height: 70vh;
  margin: 9em 0em 2em 2em;
  transition: 0.5s ease;
  cursor: default;
}

.card-2:hover {
  transform: translateY(-25px);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.blue-bg-2 {
  grid-area: blue-2;
  background:#252450;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4b4b52;
  border-bottom-width: .1em;
}

.blue-bg-2 .title-QS {
  font-size: 1.4rem;
  padding: 1.5em 2em 1em 2em;
  text-transform: uppercase;
}

.card-2-text {
  grid-area: text;
  padding: 2em 2em 2em 2em;
  background: linear-gradient(#252450, #2a295b);
  text-align: justify;
  text-justify: inter-word;
  font-weight: 600;
}

.paragraph-QS {
  line-height: 1cm;
}

.card-2-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #c21636; 
}

.card-2-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.card-2-stats .type {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-2-stats .value {
  font-size: 22px;
  font-weight: 600;
}

/* CARD 3 */

.animation-3 {
  animation-name: animation-3;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

@keyframes animation-3{
  from {
      opacity: -100%;
      transform: translateX(500px);
  }

  to {
      opacity: 100%;
      transform: translateX(0px);
  }
}

.card-3 {
  display: grid;
  grid-template-columns: 22em;
  grid-template-rows: 6em 20em 4em;
  grid-template-areas: "blue-3" "text" "stats";
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 26%;
  height: 70vh;
  margin: 9em 2em 2em 2em;
  transition: 0.5s ease;
  cursor: default;
}

.card-3:hover {
  transform: translateY(-25px);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.blue-bg-3 {
  grid-area: blue-3;
  background:#2a295a;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-color: #505058;
  border-bottom-width: .1em;
}

.blue-bg-3 .title-QS {
  font-size: 1.4rem;
  padding: 1.5em 2em 1em 2em;
  text-transform: uppercase;
}

.card-3-text {
  grid-area: text;
  padding: 2em 2em 2em 2em;
  background: linear-gradient(#2a295a, #2d2c61);
  text-align: justify;
  text-justify: inter-word;
  font-weight: 600;
}

.paragraph-QS {
  line-height: 1cm;
}

.card-3-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #78091e; 
}

.card-3-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.card-3-stats .type {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-3-stats .value {
  font-size: 22px;
  font-weight: 600;
}

/* SECTION 2 (EXAMENES) */

.section-2 {
  height: 230vh;
  grid-area: section-2;
}

.animation-4 {
  animation-name: animation-4;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

@keyframes animation-4{
  from {
      opacity: -100%;
      transform: translateX(-500px);
  }

  to {
      opacity: 100%;
      transform: translateX(0px);
  }
}

.title-EX {
  font-size: 3rem;
  color: #1c1b3b;
  font-weight: 700;
  text-align: center;
  cursor: default; 
  padding-top: 2.5em;
}

.animation-5 {
  animation-name: animation-5;
  animation-iteration-count: 1;
  animation-duration: 4s;
}

@keyframes animation-5{
  from {
      opacity: -100%;
      transform: translateX(500px);
  }

  to {
      opacity: 100%;
      transform: translateX(0px);
  }
}

.paragraph-EX {
  font-size: 1.2rem;
  padding: 2em 2em 0em 2em;
  color: #1c1b3b;
  cursor: default; 
  text-align: justify;
  text-justify: inter-word;
  font-weight: 600;
}

.animation-6 {
  animation-name: animation-6;
  animation-iteration-count: 1;
  animation-duration: 4s;
}

@keyframes animation-6{
  from {
      opacity: -100%;
      transform: translateY(500px);
  }

  to {
      opacity: 100%;
      transform: translateY(0px);
  }
}

.img-EX {
  width: 100%;
  object-fit: cover;
  padding: 4em 8.5em 4em 8em;
}

/* SECTION 3 (CURSOS) */

.section-3 {
  height: 260vh;
  grid-area: section-3;
  padding: 2em;
}

.title-CR {
  padding: 2em 0em 1em 0em;
  font-size: 3rem;
  color: #1c1b3b;
  font-weight: 700;
  text-align: center;
  cursor: default; 
}

/* .container-CR {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

/* CARD 4 */

.card-4 {
  display: grid;
  grid-template-columns: 50em;
  grid-template-rows: 6em 20em;
  grid-template-areas: "red-1" "text";
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 62%;
  margin: 0em 0em 4em 15em;
  transition: 0.5s ease;
  cursor: default;
}

/* .card-1:hover {
  transform: translateY(-25px);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
} */

.red-bg-1 {
  grid-area: red-1;
  background: #f21137;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-color: #1c1b3b;
  border-bottom-width: .1em;
}

.red-bg-1 .title-NÑS {
  font-size: 1.4rem;
  padding: 1.5em 2em 1.3em 2em;
  text-transform: uppercase;
}

.card-4-text {
  grid-area: text;
  padding: 3em 2em 2em 2em;
  background: linear-gradient(#1c1b3b, #2e2c61);
  text-align: justify;
  text-justify: inter-word;
  font-weight: 600;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.paragraph-NÑS {
  line-height: 1cm;
}

/* CARD 5 */

.card-5 {
  display: grid;
  grid-template-columns: 50em;
  grid-template-rows: 6em 20em;
  grid-template-areas: "red-2" "text";
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 62%;
  margin: 0em 0em 4em 15em;
  transition: 0.5s ease;
  cursor: default;
}

/* .card-5:hover {
  transform: translateY(-25px);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
} */

.red-bg-2 {
  grid-area: red-2;
  background: #c21636;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-color: #1c1b3b;
  border-bottom-width: .1em;
}

.red-bg-2 .title-ADS {
  font-size: 1.4rem;
  padding: 1.5em 2em 1.3em 2em;
  text-transform: uppercase;
}

.card-5-text {
  grid-area: text;
  padding: 5em 2em 4em 2em;
  background: linear-gradient(#252450, #2a295b);
  text-align: justify;
  text-justify: inter-word;
  font-weight: 600;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.paragraph-ADS {
  line-height: 1cm;
}

/* CARD 6 */

.card-6 {
  display: grid;
  grid-template-columns: 50em;
  grid-template-rows: 6em 20em;
  grid-template-areas: "red-3" "text";
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 62%;
  margin: 0em 0em 4em 15em;
  transition: 0.5s ease;
  cursor: default;
}

/* .card-6:hover {
  transform: translateY(-25px);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
} */

.red-bg-3 {
  grid-area: red-3;
  background: #78091e;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-color: #1c1b3b;
  border-bottom-width: .1em;
}

.red-bg-3 .title-ADT {
  font-size: 1.4rem;
  padding: 1.5em 2em 1.3em 2em;
  text-transform: uppercase;
}

.card-6-text {
  grid-area: text;
  padding: 6em 2em 5em 2em;
  background: linear-gradient(#2a295a, #2d2c61);
  text-align: justify;
  text-justify: inter-word;
  font-weight: 600;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.paragraph-ADT {
  line-height: 1cm;
}


.section-4 {
  grid-area: section-4;
  display: flex;
  flex-direction: row;
  background: #202052;
  margin: 6em 0em 6em 0em;
}

.transparent-gradient {
  background: linear-gradient(to right, transparent, #202052), 
  url(./pexels-cottonbro-5999068.jpg)
  no-repeat center center/cover;
  width: 160%;
}

/* .section-4-text {
  display: flex;
  flex-direction: column;
} */

.title-ANT {
  font-size: 2.5rem;
  color: #fff;
  padding: 2em 2em .2em 0em;
}

.paragraph-ANT {
  font-size: 1.1rem;
  color: #cccccc;
  font-weight: 400;
  padding: 0em 6em 1em 0em;
  line-height: 1cm;
}

.paragraph-ANT-2 {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  padding: 0em 0em 2em 0em;
}

.btn-ANT {
  display: flex;
  align-items: center;
  margin: 0em 0em 4em 0em;
  padding: .5em 0em .5em 0em;
  width: 12em;
  height: 3.8em;
  border: none;
  background: #F21137;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: white;
  border-radius: .4em;
}

.btn-ANT i {
  font-size: 2em;
}

footer {
  grid-area: footer;
  background: #1c1b3b;
  color: #fff;
  text-align: center;
  padding: 2em 0em 1em 0em;
  font-size: 1.2rem;
} 

.paragraph-FT {
  font-weight: 600;
  padding-bottom: 1em;
}

.icons {
  font-size: 1.5rem;
}

.icons a {
  text-decoration: none;
  color: #fff;
}

.uil {
  padding: 0em .3em 0em .3em;
}

/* DESKTOP: 1200PX*/
/* LAPTOP: 992PX */
/* TABLET: 768PX */
/* MOBILE: 576PX */

/* DESKTOP */

@media (max-width: 1200px) {
  .title-IX-1 {
    padding-top: 4em;
  }

  .section-2 {
    margin-top: 5em;
  }


}

/* TABLET */

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1"
    "section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2"
    "section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3"
    "section-4 section-4 section-4 section-4 section-4 section-4 section-4 section-4 section-4 section-4 section-4 section-4"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  }

  html {
    font-size: .9rem;
  }
}

/* MOBILE */

@media (max-width: 576px) {

}




